/* Style untuk card */
.card {
    margin-top: 20px;
}

/* Style untuk judul */
h2 {
    margin-bottom: 20px;
}

/* Style untuk tabel */
table {
    width: 100%;
}

/* Style untuk tombol Cari */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

/* Style untuk tombol Edit dan Hapus */
.btn-warning,
.btn-danger {
    margin-right: 5px;
}

/* Style untuk pagination */
.pagination {
    margin-top: 20px;
}
